@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome guest</h1>
        <p>Auto login kao <a asp-controller="AdministrativniRadnik" asp-action="DemoLogin">administrativni radnik</a>.</p>
        <p>Auto login kao <a asp-controller="Kupac" asp-action="DemoLogin">kupac</a>.</p>
    </div>
