@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/indexHome.css" />

<div class="row text-center justify-content-center">
    <div>
        <div class="masthead" id="headerOne">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase font-weight-bold">Dobro došli Guest !</h1>
                        <hr class="divider my-4">
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">
                            Za auto login kao demo administrativni radnik klikni <a asp-controller="AdministrativniRadnik" asp-action="DemoLogin">ovdje.</a>
                            <br />Ili za auto login kao demo kupac klikni <a asp-controller="Kupac" asp-action="DemoLogin">ovdje.</a>
                            <br />Ili za auto login kao demo menadzer klikni <a asp-controller="Menadzer" asp-action="DemoLogin">ovdje.</a>
                        </p>
                        <button class="btn btn-info btn-xl rounded tipka" id="buttonPogledaj">Pogledaj ponudu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row text-center justify-content-center">
    <div>
        <div id="ponudaTipka" class="row justify-content-end">
            <div class="tipka" title="Zatvori ponudu" id="buttonGetBack"><i class="material-icons" style="font-size: 48px;">clearn</i></div>
        </div>
        <br />
        <div id="ponuda" class="justify-content-center row">
            <div>
                <h2 class="display-4 mb-4">Podružnice</h2>
                <partial name="_PodruznicePregledPartial" model="@(new NamirniceDelivery.Web.ViewModels.Shared.PregledPodruznicaPartialViewModel { PodruznicaList = Model.PodruznicaList })" />
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<br />
<div id="drugiDio" class="row text-center justify-content-center">
    <div>
        <h2 class="display-4 mb-4">Namirnice</h2>
        <partial name="_NamirnicePregledPartial" model="@(new NamirniceDelivery.Web.ViewModels.Shared.PregledNamirnicaPartialViewModel { NamirnicaPodruznicaList = Model.NamirnicaList })" />
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#buttonPogledaj").click(function () {
            $('html,body').animate({
                scrollTop: $("#ponudaTipka").offset().top
            }, 'slow');
        });
    });
    $(document).ready(function () {
        $("#buttonGetBack").click(function () {
            $('html,body').animate({
                scrollTop: $("body").offset().top
            }, 'slow');
        });
    });
</script>
