@model NamirniceDelivery.Web.ViewModels.AdministrativniRadnik.KategorijaListViewModel
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Naziv</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var k in Model.KategorijaList)
            {
                <tr>
                    <th>@(Model.KategorijaList.IndexOf(k) + 1).</th>
                    <td>@k.Naziv</td>
                    <td>
                        @if (Model.Deletable[Model.KategorijaList.IndexOf(k)])
                        {
                            <a role="button" data-url="@Url.Action("UkloniKategoriju", new { id = k.Id })"><i class="material-icons text-danger">delete</i></a>
                        }
                        else
                        {
                            <a href="" title="Kategorija ne može biti obrisana jer postoje vrste namrnica koje pripadaju ovoj kategoriji."><i class="material-icons text-dark">delete</i></a>
                        }
                        <a role="button" data-toggle="ajax-modal" data-target="#add-kategorija" data-url="@Url.Action("Kategorija", new { id = k.Id })"><i class="material-icons text-info">edit</i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(function () {
        var placeholderElement = $('#modal-placeholder');

        $('a[data-toggle="ajax-modal"]').click(function (event) {
            var url = $(this).data('url');
            $.get(url).done(function (data) {
                placeholderElement.html(data);
                placeholderElement.find('.modal').modal('show');

                var forms = placeholderElement.find('form');
                $.validator.unobtrusive.parse(forms[forms.length - 1]);
            });
        });

        $('a[role="button"').click(function () {
            var url = $(this).data('url');

            $.ajax({
                url: url,
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            });
        })
    });
</script>
