@model NamirniceDelivery.Web.ViewModels.Shared.PregledViewModel
@{
    ViewData["Title"] = "Pregled Kategorija";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="modal-placeholder"></div>
<div class="text-center row justify-content-center">
    <div>
        <h1>Pregled Kategorija</h1>
        <br />
        <div class="row">
            <div class="col-md-12 text-right mb-1">
                <button title="Dodaj novu kategoriju" type="button" class="btn btn-success rounded" data-toggle="ajax-modal" data-target="#add-kategorija" data-url="@Url.Action("Kategorija")">
                    +
                </button>
            </div>
        </div>
        <div class="row" id="dataStorage"></div>

        @if (!string.IsNullOrEmpty(Model.ReturnUrl))
        {
            <div>
                <a href="@Model.ReturnUrl">Idi nazad</a>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            var connection = new signalR.HubConnectionBuilder().withUrl("/myHub").build();

            connection.start().then(function () {
                getData();
            });

            connection.on("RepopulateKategorija", function () {
                getData();
            });
        });

        function getData() {
            var container = $('#dataStorage');
            $.ajax({
                url: '/AdministrativniRadnik/PregledKategorijaGetData',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            })
                .done(function (result) { container.empty().append(result); })
        }
    </script>
}