@model NamirniceDelivery.Web.ViewModels.Transakcija.NarudzbeViewModel
@{
    ViewData["Title"] = "Nepotvrđene Narudzbe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center row justify-content-center">
    <div>
        @if (User.IsInRole("Kupac"))
        {
            <h1>Vaše narudžbe</h1>
        }
        else if (User.IsInRole("AdministrativniRadnik"))
        {
            <h1>Pristigle narudžbe</h1>
        }
        <br />
        <div id="dataStorage">
            @if (Model.TransakcijaList.Any())
            {
                <partial name="_PregledTransakcijaPartial" model="@(new NamirniceDelivery.Web.ViewModels.Shared.PregledTransakcijaPartialViewModel { TransakcijaList = Model.TransakcijaList, ListType = NamirniceDelivery.Web.ViewModels.Shared.ListType.narucene })" />
            }
            else
            {
                <p>
                    @if (User.IsInRole("Kupac"))
                    {
                        <span>Nemate narudžbi.</span>
                    }
                    else if (User.IsInRole("AdministrativniRadnik"))
                    {
                        <span>Ne postoje nove narudžbe.</span>
                    }
                </p>
            }
        </div>
    </div>
</div>

@*@section Scripts{
    <script>
        $(function () {
            var connection = new signalR.HubConnectionBuilder().withUrl("/myHub").build();
            connection.start();
            connection.on("Repopulate", function () {
                getData();
            });
        });

        function getData() {
            var container = $('#dataStorage');
            $.ajax({
                url: '/Transakcija/GetDataNepotvrdjeneNarudzbe',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            })
                .done(function (result) { container.empty().append(result); })
        }
    </script>
}*@

