@model NamirniceDelivery.Web.ViewModels.Transakcija.NarudzbeViewModel
@{
    ViewData["Title"] = "Završene transakcije";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center row justify-content-center">
    <div>
        <h1>Završene transakcije</h1>
        <br />
        @if (Model.TransakcijaList.Any())
        {
            <partial name="_PregledTransakcijaPartial" model="@(new NamirniceDelivery.Web.ViewModels.Shared.PregledTransakcijaPartialViewModel { TransakcijaList = Model.TransakcijaList, ListType = NamirniceDelivery.Web.ViewModels.Shared.ListType.zavrsene })" />
        }
        else
        {
            <p>
                <span>Nemate završenih transakcija.</span>
            </p>
        }
    </div>
</div>

