@model  NamirniceDelivery.Web.ViewModels.Podruznica.IndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center row justify-content-center">
    <div class="">
        <h1>Podružnica | @Model.Naziv</h1>

        <hr />
        <br />
        <div>
            <h2>Lista namirnica u ponudi</h2>
            <br />
            <partial name="_NamirnicePregledPartial" model="@(new NamirniceDelivery.Web.ViewModels.Shared.PregledNamirnicaPartialViewModel { NamirnicaPodruznicaList = Model.NamirnicaList, SpremljeneNamirniceList = Model.SpremljeneNamirniceList })" />
        </div>
        <br />
        @if (string.IsNullOrEmpty(Model.ReturnUrl))
        {
            <div>
                <a asp-controller="Home" asp-action="Index">Nazad na panel</a>
            </div>
        }
        else
        {
            <div>
                <a href="@Model.ReturnUrl">Idi nazad</a>
            </div>
        }
    </div>
</div>

