@model NamirniceDelivery.Web.ViewModels.Kupac.IndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center row justify-content-center">
    <div>
        <h1>Kupac Panel | <a href="#" @*asp-route-id="@Model.Username"*@>@Model.Username</a></h1>
        <br />
        <h2>Lista podružnica u vašoj blizini</h2>
        <br />
        <partial name="_PodruznicePregledPartial" model="@(new NamirniceDelivery.Web.ViewModels.Shared.PregledPodruznicaPartialViewModel { PodruznicaList = Model.PodruznicaList, SpremljenePodruzniceList = Model.SpremljenePodruzniceList })" />
    </div>
</div>
<br />
<hr />
<br />
<div class="text-center row justify-content-center">
    <div>
        <h2>Lista namirnica u ponudi</h2>
        <br />
        <partial name="_NamirnicePregledPartial" model="@(new NamirniceDelivery.Web.ViewModels.Shared.PregledNamirnicaPartialViewModel { NamirnicaPodruznicaList = Model.NamirnicaList, SpremljeneNamirniceList = Model.SpremljeneNamirniceList })" />
    </div>
</div>
