@model NamirniceDelivery.Web.ViewModels.Kupac.SpremljeneNamirniceViewModel
@{
    ViewData["Title"] = "SpremljeneNamirnice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center row justify-content-center">
    <div>
        <h1>Spremljene Namirnice</h1>
        <br />
        <partial name="_NamirnicePregledPartial" model="@(new NamirniceDelivery.Web.ViewModels.Shared.PregledNamirnicaPartialViewModel { NamirnicaPodruznicaList = Model.SpremljeneNamirniceList, SpremljeneNamirniceList = Model.SpremljeneNamirniceList })" />
    </div>
</div>

