@model NamirniceDelivery.Web.ViewModels.Kupac.SpremljenePodruzniceViewModel
@{
    ViewData["Title"] = "SpremljenePodruznice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center row justify-content-center">
    <div>
        <h1>Spremljene Podružnice</h1>
        <br />
        <partial name="_PodruznicePregledPartial" model="@(new NamirniceDelivery.Web.ViewModels.Shared.PregledPodruznicaPartialViewModel { PodruznicaList = Model.SpremljenePodruzniceList, SpremljenePodruzniceList = Model.SpremljenePodruzniceList })" />
    </div>
</div>

